<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Age</th>
      <th class="text-center">Registered</th>
      <th><span class="hidden-xs">Fees </span>Owing</th>
    </tr>
    <%= render dogs %>
  </table>
</div>