#site_alerts {
  margin-top: 80px;
  text-align: center;
}

label abbr {
  // required * on the right of labels rather than the default left
  float: right;
  margin-left: 5px;
}

input.radio_buttons {
  // overrides bootstrap to stop the buttons from moving on change
  height: auto;
  width: auto;
}

.date.form-group {
  label {
    width: 100%;
    float: left;
  }
  select {
    width: 30%;
    margin-right: 5%;
    float: left;
  }
  :last-child {
    margin-right: 0;
  }
}
.no-margin {
  margin: 0;
}
.input .error {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color:#d9534f
}